<div style="clear:both;"></div>
<div class="friends-body">
<div style="clear:both;"></div>
	<p style="font-weight:bold;">Hey ! here you can manage your friends from your contact list</p>
	<ul class="user-contacts-available">
		<li class="user-contact">
			<p class="left-icon-area"><span class="user-icon"><i class="fa fa-user-o"></i></span></p>
			<div class="user-detail">
				<div class="user-name">
					Srinivas Nagorkar
				</div>
				<div class="user-contact-number">
					+91 - 9742015199
				</div>
			</div>
		</li>
		<li class="user-contact">
			<p class="left-icon-area"><span class="user-icon"><i class="fa fa-user-o"></i></span></p>
			<div class="user-detail">
				<div class="user-name">
					Anuj Puri
				</div>
				<div class="user-contact-number">
					+91 - 8975678987
				</div>
			</div>
		</li>
		<li class="user-contact">
			<p class="left-icon-area"><span class="user-icon"><i class="fa fa-user-o"></i></span></p>
			<div class="user-detail">
				<div class="user-name">
					Mayank Kapoor
				</div>
				<div class="user-contact-number">
					+91 - 9876565455
				</div>
			</div>
		</li>
		<li class="user-contact">
			<p class="left-icon-area"><span class="user-icon"><i class="fa fa-user-o"></i></span></p>
			<div class="user-detail">
				<div class="user-name">
					Raj Kumar Thakur
				</div>
				<div class="user-contact-number">
					+91 - 7865654333
				</div>
			</div>
		</li>
	</ul>
	<div style="clear:both;"></div>
	<hr style="margin: 0px;"/>
	<div style="clear:both;"></div><br>
	<p style="font-weight:bold;">You may invite your friends from following list on yatra frieds community</p>
	<ul class="user-contacts-available">
		<li class="user-contact">
			<p class="left-icon-area"><span class="user-icon"><i class="fa fa-user-plus"></i></span></p>
			<div class="user-detail">
				<div class="user-name">
					Srinivas Nagorkar
				</div>
				<button class="inv-btn-style">Invite</button>
				<div class="user-contact-number">
					+91 - 9742015199
				</div>
			</div>
		</li>
		<li class="user-contact">
			<p class="left-icon-area"><span class="user-icon"><i class="fa fa-user-plus"></i></span></p>
			<div class="user-detail">
				<div class="user-name">
					Anuj Puri
				</div>
				<button class="inv-btn-style">Invite</button>
				<div class="user-contact-number">
					+91 - 8975678987
				</div>
			</div>
		</li>
		<li class="user-contact">
			<p class="left-icon-area"><span class="user-icon"><i class="fa fa-user-plus"></i></span></p>
			<div class="user-detail">
				<div class="user-name">
					Mayank Kapoor
				</div>
				<button class="inv-btn-style">Invite</button>
				<div class="user-contact-number">
					+91 - 9876565455
				</div>
			</div>
		</li>
		<li class="user-contact">
			<p class="left-icon-area"><span class="user-icon"><i class="fa fa-user-plus"></i></span></p>
			<div class="user-detail">
				<div class="user-name">
					Raj Kumar Thakur
				</div>
				<button class="inv-btn-style">Invite</button>
				<div class="user-contact-number">
					+91 - 7865654333
				</div>
			</div>
		</li>
	</ul>
	<div style="clear:both;"></div>
</div>