<div style="clear:both;"></div>
<div class="groups-body">
	<div style="clear:both;"></div>
	<p style="text-align:center;" class="groups-section">
		<i class="fa fa-users"></i>
		<p style="font-weight:bold;font-size: 15px;text-align: center;">Below are groups you are part of</p>
		<div style="clear:both;"></div><br>
	<ul class="user-contacts-available">
		<li class="user-contact">
			<p class="left-icon-area"><span class="user-icon"><i class="fa fa-object-group"></i></span></p>
			<div class="user-detail">
				<div class="user-name">
					College Friends
				</div>
				<button class="inv-btn-style"><i class="fa fa-sliders"></i> Configure</button>
				<div class="user-contact-number">
					34 Freinds in room 
				</div>
			</div>
		</li>
		<li class="user-contact">
			<p class="left-icon-area"><span class="user-icon"><i class="fa fa-object-group"></i></span></p>
			<div class="user-detail">
				<div class="user-name">
					Delhi Brothers
				</div>
				<button class="inv-btn-style"><i class="fa fa-sliders"></i> Configure</button>
				<div class="user-contact-number">
					12 Freinds in room 
				</div>
			</div>
		</li>
		<li class="user-contact">
			<p class="left-icon-area"><span class="user-icon"><i class="fa fa-object-group"></i></span></p>
			<div class="user-detail">
				<div class="user-name">
					JNTU Classmates
				</div>
				<button class="inv-btn-style"><i class="fa fa-sliders"></i> Configure</button>
				<div class="user-contact-number">
					102 Freinds in room
				</div>
			</div>
		</li>
	</ul>
	<div style="clear:both;"></div>
	</p>
</div>